@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  height: 100vh;
  width: 100%;
  position: relative;
}

.carousel .carousel-content {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.carousel .carousel-content-item {
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
  line-height: 100vh;
  font-size: 4rem;
  color: darksalmon;
  font-weight: bold;
}

.carousel .carousel-content-item:first-child {
  display: block;
}

.carousel .carousel-nav {
  position: absolute;
  bottom: 0;
  height: 70px;
  display: flex;
  width: 100%;
}

.carousel .carousel-nav-item {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  font-weight: bolder;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 127px;
  height: 50px;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
  cursor: pointer;
  font-weight: 100;
}

#prev {
  left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

#next {
  right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
